.select {
    position: relative;
    width: 220px;
    &__current {
        width: 220px;
        height: 60px;
        background: $block-bg;
        color: $color1;
        display: flex;
        align-items: center;
        padding: 15px 20px;
        position: relative;
        // z-index: 2;
    }
    &__content {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 16px;
        img {
            margin-right: 14px;
        }
    }
    &__text {}
    &__arrow {
        display: block;
        width: 13px;
        height: 13px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        position: absolute;
        right: 20px;
        top: 20px;
        transform: rotate(-135deg);
        transition: all 0.2s ease;
        z-index: 1;
        &--active {
            top: 25px;
            transform: rotate(45deg);
        }
    }
    &__list {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 2;
        background: $block-bg;
    }
    &__item {
        &:not(:last-child) {
            border-bottom: 1px solid $border-color;
        }
    }
    &__btn {
        width: 220px;
        height: 60px;
        background: $block-bg;
        color: $color1;
        display: flex;
        align-items: center;
        padding: 15px;
        transition: all 0.4s ease;
        &:hover,
        &.active {
            background: $color1;
            color: $color2;
        }
    }
}

.select--typical {
    .select__current {
        border: 1px solid #cdb185;
        border-radius: 4px;
    }
    .select__current,
    .select__btn {
        height: 50px;
        color: #fff;
        padding: 16px;
    }
    .select__btn {
        width: 218px;
    }
    .select__list {
        top: 48px;
        width: 220px;
        border: 1px solid #cdb185;
        border-radius: 0 0px 4px 4px;
    }
    .select__item {
        &:not(:last-child) {
            border-bottom: 1px solid #cdb185;
        }
    }
    .select__btn.active,
    .select__btn:hover {
        background-color: $block-bg;
        color: $color1;
    }
    .select__content img {
        margin-right: 5px;
    }
    .select__arrow {
        top: 12px;
    }
    .select__arrow--active {
        top: 20px;
    }
}

.checkbox {
    &__label {
        display: block;
        padding-left: 27px;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #717A82;
        position: relative;
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 3px;
            transition: all 0.2s ease;
            top: 0;
            border: 1px solid #CDB185;
            border-radius: 2px;
        }
    }
    &__input {
        &:checked~.checkbox__label {
            &::before {
                background: linear-gradient(225.92deg, #CDB185 2.19%, #EBD3AE 101.5%);
                box-shadow: 0px 0px 20px rgba(225, 199, 160, 0.5);
            }
        }
        &:hover~.checkbox__label,
        &:focus~.checkbox__label {
            &::before {
                box-shadow: 0px 0px 20px rgba(225, 199, 160, 0.5);
            }
        }
    }
}

.input {
    border: 1px solid #CDB185;
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 16px;
    width: 220px;
    &--icon {}
    &__icon {
        width: 17px;
        min-width: 17px;
        margin-right: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__label {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
    }
    &__input {
        width: 100%;
        height: 50px;
        background: none;
        color: #fff;
        font-size: 16px;
        line-height: 16px;
    }
}