.partner {
    max-width: 635px;
    margin-bottom: 50px;
    &__title {
        margin-bottom: 30px;
    }
    &__discription {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 50px;
        p {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    &__table {}
    &__table-caption {
        margin: 30px 0 20px;
    }
    &__input-item {}
}

.table-block {
    margin-bottom: 50px;
    &__title {
        margin-bottom: 30px;
    }
}

.income-table {
    max-width: 900px;
}

.statistic-table {}